.smallCard-cont{
    height: var(--small-card-heightMB);
    width: var(--small-card-widthMB);
    box-shadow: var(--shadow);
    border-radius: var(--main-border-radius);
    position: relative;
    padding: 2%;
}
.smallCard-img-cont{
    height: 85%;
    width: 85%;
}
.smallCard-img-cont img{
    height: 90px;
    width: 90px;
    margin: auto;
    border-radius: var(--main-border-radius);
}

.smallCard-info-cont{
    align-items: flex-start;
    justify-content: center;
    gap: 5%;
    height: 90%;
    margin: auto;
}

@media (min-width: 820px) {
    .smallCard-cont {
        padding: 1%;
    }
}