.landing-wrapper {
    background-color: var( --main-color-opacity);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
}
.houseG{
    height:30vh;
    width: 30vh;
    justify-content: center;
    position: inherit;
    align-items: center;
    display: flex;
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    
}

.landing-title, .landing-subtitle{
    color: var(--white-bg);
}
