.main-button, .landing-button, .chat-button{
    height: var(--btn-height);
    width: var(--btn-width);
    border-radius: var(--small-border-radius);
    font-size: var(--detail-font-size);
    font-weight: 500;
    color: white;
    background-color: var(--main-color-btn);
    outline: none;
    box-shadow: none;
    border: none;
}

.landing-button{
    background-color: var( --white-bg);
    color: var(--main-color-btn);
    border-color: var(--title-color);
    height: 7vh;
    width: 35vh;
    cursor: pointer;
    position: absolute;
}

.chat-button{
    display: block;
    width: fit-content;
    padding: 10% 10%;
    background-color: var(--main-bg);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    line-height: 100%;
    border-radius: 0.25rem;
}


.landing-button:hover, .landing-button:focus, .chat-button:hover, .chat-button:focus{
    background-color: var(--main-color-opacity);
    border: 1px solid var(--mina-color-opacity);
    color: white;
}

