.detailView {
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--main-bg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dotSlider-pos{
    display: none;
}


@media (min-width: 820px) {
    .wrapper{
        background-size: contain;
        background-position-x: calc(50% + 35%);
    }
    .dotSlider-pos{
        display: block;
        position: absolute;
        bottom: 10vh;
        right: 15vw;
        height: 4vh;
        width: 25vw;
    }
}