.xfeed-cont,
.yfeed-cont {
    position: relative;
    top: var(--nav-height);
    gap: 3%;
    height: fit-content;
}

.feed-title {
    margin: 1.5%;
    align-self: flex-start;
    margin-left: 15%;
}

.xfeed,
.yfeed {
    height: var(--xfeed-height);
    width: 75%;
    margin: 0 auto;
    position: relative;
    padding: 5% 0;
}

.xfeed {
    display: -webkit-box;
    padding: 5%;
    gap: 5%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 90%;
}


.yfeed-cont {
    top: 12%;
    gap: 5%;
}

.yfeed {
    height: var(--yfeed-height);
    width: 85%;
    gap: 5%;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.search-feed {
    height: 55vh;
    width: 85%;
    position: absolute;
    top: calc(var(--nav-height) + 15vh);
}

.match-feed {
    justify-content: flex-start;
    height: 60vh;
    position: relative;
    gap: 5%;
    top: 10vh;
    position: relative;
    overflow-y: scroll;
}

.user-data {
    display: flex;
    justify-content: center;
    gap: 10%;
    height: 15vh;
    width: 85%;
    align-items: flex-start;
    position: fixed;
    top: var(--nav-height);
}

.match-title{
    font-size: 1.75rem;
}

@media (min-width: 820px) {
    .yfeed {
        flex-flow: wrap;
        width: 85%;
        justify-content: flex-start;
        padding: 1% 0;
        gap: 5%;
        padding-left: 10%;
    }

    .xfeed {
        padding: 1% 5% 2% 5%;
        gap: 2%;
    }
    .match-feed{
        flex-flow: wrap;
        justify-content: flex-start;
        padding-left: 5%;
        width: 85%;
        height: 65vh;
        top: 12vh;
    }
    .user-data{
        width: 25%;
        margin-right: calc(85% - 25%);
    }
}