.xfeed, .yfeed{
    height: var(--xfeed-height);
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: calc(var(--nav-height) + 2vh);
    overflow: scroll;
}

.xfeed{
    display:-webkit-box;
    padding: 0 5% 0 5%;
    gap: 5%;
}

.yfeed{
    height: var(--yfeed-height);
    width: 85%;
    top: 15%;
}