.xfeed-cont, .yfeed-cont{
    position: relative;
    top: var(--nav-height);
    gap: 3%;
    height: fit-content;
}

.feed-title{
    margin: 1.5%;
    align-self: flex-start;
    margin-left: 15%;
}

.xfeed, .yfeed{
    height: var(--xfeed-height);
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.xfeed{
    display:-webkit-box;
    padding: 0 5% 0 5%;
    gap: 5%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.yfeed-cont{
    top: 12.5%;
}
.yfeed{
    margin-top: 5%;
    height: var(--yfeed-height);
    width: 85%;
    gap: 5%;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.search-feed{
    height: 65vh;
    width: 85%;
    border: 1px solid black;
}