.category-btn{
    height: var(--category-btn-height);
    width: var(--category-btn-width);
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: .25rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--blue);
    font-size: var(--detail-font-size);
    background-color: var(--blue-opacity);
    outline: none;
    box-shadow: none;
    border: none;
    font-size: var(--detail-font-size);
    font-family: var(--font-family-main);
    padding: 0% 5%;
}