.spec-cont{
    border-radius: var(--main-border-radius);
    background-color: var(--white-bg);
    height: var(--spec-height);
    width: var(--spec-width);
    box-shadow: var(--shadow);
}

.spec-text{
    color: var(--title-color);
    font-weight: 600;
    font-size: smaller;
    text-align: center;
}

.spec-icon{
    color: var(--main-color-opacity);
    font-size: 2rem;
}