.price-weight{
    font-weight: 600;
}

.price-text{
    font-size: x-large;
    color: var(--main-color);
}
.currency-text{
    font-size:large;
    color: var(--main-color);
    font-weight: bold;
}