.animal-cont{
    font-size: 4rem;
    position: absolute;
    top: 20%;
    right: 10%;
    color: var(--main-color-opacity);
    z-index: 1;
}
@media (min-width: 820px) {
    .animal-cont{
        top: 15%;
    }
}