:root {
  /* FONTS */
  --font-family-title: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --font-family-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --font-size: small;

  /* COLORS */
  --title-color: black;
  --main-color: rgba(11, 201, 209, 1);
  --main-color-opacity: rgba(234, 247, 248, 1);
  --red: rgba(251, 115, 115, 1);
  --red-opacity: rgba(241, 232, 235, 1);
  --main-bg: rgba(249, 251, 253, 1);
  --blue: rgba(193, 212, 246, 1);
  --blue-opacity: rgba(242, 246, 253,1);
  --detail-color: rgba(204, 199, 199, 1);


  /*SIZES*/
  --nav-height: 10vh;
  --footer-height: 10vh;
  --view-height: 90vh;

  --nav-btn-cont-height: 5vh;
  --nav-btn-cont-width: 5vh;

  --btn-width: 25vw;
  --btn-height: 4vh;

  --input-height: 4vh;
  --input-width: 85vw;
  --specs-height: 5em;
  --specs-width: 5em;

  --main-card-heightMB: 10rem;
  --main-card-widthMB: 10rem;
  --main-card-heightDT: 10rem;
  --main-card-widthDT: 10rem;

  --small-card-heightMB: 10rem;
  --small-card-widthMB: 10rem;
  --small-card-heightDT: 10rem;
  --small-card-widthDT: 10rem;

  --xfeed-height: 50vh;
  --yfeed-height: 30vh;

  --icon-size: 1.5rem;

  /* BORDERS */
  --main-border-radius: 1rem;
  --small-border-radius: .75rem;

}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.view {
  height: var(--view-height);
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  position: fixed;
  overflow: hidden;
  border: 1px solid black;
}