.MainCard-cont{
    height: var(--main-card-heightMB);
    width: var(--main-card-widthMB);
    margin: auto;
    box-shadow: var(--shadow);
    border-radius: var(--main-border-radius);
    cursor: pointer;
}
.MainCard-img-cont, .MainCard-info-cont{
    height: 55%;
    width: 85%;
}
.MainCard-img-cont img{
    height: 85%;
    width: 85%;
    margin: auto;
    object-fit: cover;
    border-radius: var(--small-border-radius);
    transition: all 1s ease;
}

.MainCard-img-cont img:hover{
    transform: scale(0.98);
    opacity: 75%;
}

.MainCard-info-cont{
    height: 35%;
    width: 85%;
    align-items: flex-start;
    gap: 10%;
    margin: 5%;
}