#nav {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--nav-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    font-size: var(--font-size);
    font-family: var(--font-family-main);
}

.btnMB {
    height: var(--nav-btn-cont-height);
    width: var(--nav-btn-cont-width);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--main-border-radius);
    border: 5px solid var(--main-color-opacity);
    background-color: var(--main-bg);
}

.btnMB i {
    font-size: var(--icon-size);
    color: var(--main-color)
}

.nav-contentDT {
    display: none;
}

@media (min-width: 820px) {
    #nav {
        background-color: var(--main-bg);
        justify-content: flex-end;
    }

    .btnMB {
        display: none;
    }

    .nav-contentDT {
        display: flex;
        height: 100%;
        width: 50%;
        justify-content: space-around;
    }

    .nav-itemDT {
        color: var(--title-color);
        font-family: var(--font-family-main);
        font-size: var(--main-font-size);
        cursor: pointer;
    }

    .nav-itemDT:hover {
        color: var(--main-color);
    }
}